/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/dynamic-proxy/mvnw.cmd
/dynamic-proxy/mvnw
/mvnw.cmd
/mvnw
/.mvn/
/dynamic-proxy/.mvn/
/dynamic-proxy/target/
/mybatis-plus/.mvn/
/mybatis-plus/target/
/mybatis-plus/mvnw
/mybatis-plus/mybatis-plus.iml
/mybatis-plus/mvnw.cmd
/java/.mvn/
/java/target/
/java/mvnw
/java/mvnw.cmd
/java/java.iml
/mybatis/.mvn/
/mybatis/target/
/mybatis/mvnw
/mybatis/mybatis.iml
/mybatis/mvnw.cmd
.mvn/
mvnw
mvnw.cmd
src/main/resources/static/
src/main/resources/templates/
